##########################
#        ENV File        #
#########################
*.env

##########################
#    Presentation File   #
##########################
*.pptx

##########################
# Excel and csv files    #
##########################

*.csv
*.xlsx